[Desktop Entry]
Name=Gnotski
Name[pt_BR]=Gnotski
Name[da]=Gnotski
Name[et]=Gnotski
Name[fi]=Gnotski
Name[fr]=Gnotski
Name[gl]=Gnotski
Name[ja]=Gnotski
Name[lt]=Gnotski
Name[no]=Gnotski
Name[sv]=Gnotski
Comment=Gnome Klotski
Comment[pt_BR]=Jogo Klotski Gnome
Comment[da]=Gnome Klotski
Comment[et]=Klotski GNOME variant
Comment[fi]=GNOME-versio Klotskista
Comment[fr]=Gnome Klotski
Comment[gl]=Klotski de Gnome
Comment[ja]=GNOMEÈÇKlotski
Comment[lt]=Gnome Klotski klonas
Comment[no]=Gnome Klotski
Comment[sv]=Gnome Klotski
Exec=gnotski
Terminal=0
Type=Application

