/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*/*.omf.out
/*/.xml2po.mo
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/C/gnotski.xml
/C/legal.xml
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ca/ca.po
/ca/gnotski.xml
/cs/cs.po
/cs/gnotski.xml
/de/de.po
/de/gnotski.xml
/el/el.po
/el/gnotski.xml
/en_GB/en_GB.po
/en_GB/gnotski.xml
/es/es.po
/es/gnotski.xml
/eu/eu.po
/eu/gnotski.xml
/fr/fr.po
/fr/gnotski.xml
/gnotski-C.omf
/gnotski-ca.omf
/gnotski-cs.omf
/gnotski-de.omf
/gnotski-el.omf
/gnotski-en_GB.omf
/gnotski-es.omf
/gnotski-eu.omf
/gnotski-fr.omf
/gnotski-it.omf
/gnotski-oc.omf
/gnotski-sr.omf
/gnotski-sv.omf
/it/gnotski.xml
/it/it.po
/oc/gnotski.xml
/oc/oc.po
/so_locations
/sr/gnotski.xml
/sr/sr.po
/sv/gnotski.xml
/sv/sv.po
/tags
